<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="curso.grupoTarea.tarea2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EndState"/>
        <activity android:name=".Ayuda" />
        <activity android:name=".Creditos" />
        <activity android:name=".GameBoardCross" />
        <activity android:name=".GameBoardFlower" />
        <activity android:name=".Win"/>
        <activity android:name=".Lose"/>
        <activity android:name=".Victory"/>
        <activity android:name=".LevelSelector" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>